html, body {
    height: 100%; margin: 0; padding: 0;
    background-color: #182522;
}

li {
    margin-bottom: 6px;
    cursor: pointer;
}

#map {
    width: 67%;
    height: 100%;
    float: right;
}

#headline {
    font-size: 2em;
    margin: auto;
    text-align: center;
    border-bottom: solid 1px white;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 7%;
}

#buttonBox {
    width: 114%;
}

.button {
    margin-left: 3px;
}

#listBox {
    width: 29%;
    height: 100%;
    background-color: #182522;
    color: white;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, bold;
}

#list {
    overflow: scroll;
    overflow-x: hidden;
    height: 680px;
    max-width: 370px;
    font-size: 1em;
    margin-top: 20px;
}